body {
    background-image: url('assets/Discord-F.jpg');
    width: 100%;
    margin: 0;
    padding: 0;
  }
/*Header + Ul*/  
header {
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

header img {
  max-width: 200px;
}

header .liens {
  list-style: none;
  display: flex;
  gap: 20px;
}

header .liens a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*-----------------------------------------------------*/
/*Index -----------------------------------------------*/
.containerI {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
  }
  
  .textindex {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    color: #ff0000;
    background-color: rgb(42, 42, 42);
  }

  .imgindex {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .imgindex img {
    max-width: 100%;
    height: auto; 
  }

/* ---------------------------------------------------*/
/*découvrir ------------------------------------------*/
.banner-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.banner-image {
    width: 100%;
    display: block;
}

.banner-titre, .banner-sous-titre {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
}

.banner-titre {
    top: 40%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(42, 42, 42);
}

.banner-sous-titre {
    top: 50%;
    font-size: 1.2em; 
    color: rgb(42, 42, 42);
}

/* ---------------------------------------------------*/
/* Publicité------------------------------------------*/
.containerP {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    gap: 95px;
  }
  
  .textpub {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    color: rgb(42, 42, 42);
  }
  
  .imgpub {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .imgpub img {
    max-width: 100%;
    height: auto; 
  }

/* ---------------------------------------------------*/
/* Blog-----------------------------------------------*/
.imgblog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.textblog {
    color: rgb(0, 0, 0);
    background-color: #ff0062; /* Couleur initiale */
    animation: colorTransition 3s infinite; /* Animation avec une durée de 3s */
}

/* ---------------------------------------------------*/
/* Se Connecter---------------------------------------*/
.form-group {
    background-color: rgb(42, 42, 42);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    color: white;
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* ---------------------------------------------------*/
/* Animation css--------------------------------------*/
ul.liens a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  ul.liens a:hover {
    color: #6870d5;
  }

  .textindex:hover {
    opacity: 0.5;
}
  
  @keyframes colorTransition {
    0% {
        background-color: #ff0062; /* Couleur initiale */
    }
    50% {
        background-color: #0066ff; /* Couleur intermédiaire */
    }
    100% {
        background-color: #ff0062; /* Retour à la couleur initiale */
    }
}

.textindex {
    animation: textColorTransition 3s infinite; /* Animation appliquée sur le texte */
}

@keyframes textColorTransition {
    0% {
        color: #ff0000; /* Couleur initiale */
    }
    50% {
        color: #004cff; /* Couleur intermédiaire */
    }
    85% {
        color: #00ff04; /* Retour à la couleur initiale */
    }
}